*.wip.*
_build/
_opam
.coq-native/
builddep/
_RocqProject

*~

*.log
.merlin
*.timing
.lia.cache
.nia.cache
rustc-ice-*
_CoqProject
dune-project
dune-workspace

case_studies/**/Cargo.lock
case_studies/**/log
case_studies/**/target

stdlib/**/Cargo.lock
stdlib/**/log
stdlib/**/target
stdlib/**/stdlib-*.install

theories/refinedrust.install
